<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <a href="#"><img src="/assets/bootstrap-01.jpg" /></a>
      <div class="carousel-caption">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="/assets/bootstrap-02.jpg" /></a>
      <div class="carousel-caption">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        </p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="/assets/bootstrap-03.jpg" /></a>
      <div class="carousel-caption">
        <p>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        </p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>