<div class="row-fluid">
  <div class="span12 first-row-content">
    <div class="span8 homepage-main-image">
      <%= render 'shared/carousel_content' %>
    </div>
    <div class="span4">
      <div class="top-stories">
        <%= render 'shared/top_stories' %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
  <div class="span12 second-row-content">
    <%= render 'shared/second_row_content' %>
  </div>
</div>
