<div class="clearfix"></div>
<div id="footer">
  <div class="container">
    <div class="row-fluid links">
      <div class="footer-container">
        <div class="span12">
          <%= render 'shared/footer/footer_contents' %>
        </div>
      </div>
    </div>
  </div>
</div>