<div class="row">
  <div class="navbar-logo span6">
    <a class="navbar-brand" href="/"><img src="/assets/logo.png"></a>
  </div>
  <div class="search-section span6">
    <div class="input-append row-fluid">
      <input class="span9" id="appendedInputButton" type="text"/>
      <button type="submit" class="btn btn-primary">
        <i class="icon-search"></i>
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>