<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="header-first-row">
        <%= render 'shared/header_first_row' %>
      </div>
      <div class="clearfix"></div>

        <div class="container nav-collapse">
          <ul class="nav navbar-nav navbar-right span12">
            <%= nav_link 'NEWS', news_path %>
            <%= nav_link 'SPORTS', sports_path %>
            <%= nav_link 'MONEY', money_path %>
            <%= nav_link 'TECH', tech_path %>
            <%= nav_link 'OPINION', opinion_path %>
            <%= nav_link 'VIDEOS', videos_path %>
            <%= nav_link 'STOCKS', stocks_path %>
            <%= nav_link 'ELECTIONS 2016', elections_path %>
            <%= nav_link 'INVESTIGATIONS', investigations_path %>
            <%= nav_link 'CONTACT US', contact_path %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
              <!--<ul class="dropdown-menu">
                <li>
                  <a href="#">test</a>
                  <a href="#">test</a>
                  <a href="#">test</a>
                </li>
              </ul>-->
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>