<div class="span3">
  <div class="image-container">
    <a href="/prince">
      <img src="/assets/sec_prince.jpg" />
    </a>
  </div>
  <h4>
  <a href="/prince"> Prince</a></h4>
  <div class="sec-content-container">
    <p>MINNEAPOLIS (AP) — An autopsy is scheduled Friday to determine what caused the death of the iconic musician Prince, who was found unresponsive in an elevator by sheriff's deputies at his suburban Minneapolis compound a day earlier.</p>
  </div>
</div>
<div class="span3">
  <div class="image-container">
    <a href="golden-state-warriors">
      <img src="/assets/sec_dubbs.jpg" />
    </a>
  </div>
  <h4><a href="golden-state-warriors">Golden State Warriors</a></h4>
  <div class="sec-content-container">
    <p>For the second-straight game, the Golden State Warriors played the Houston Rockets without Stephen Curry. Somehow, despite several miscues in the final minute, the Rockets barely snuck out a win on their home floor, with their 97-96 victory reducing the series to a 2-1 Warriors lead.</p>
  </div>
</div>
<div class="span3">
  <div class="image-container">
    <a href="caterpillar">
      <img src="/assets/sec_caterpillar.jpg" />
    </a>
  </div>
  <h4><a href="caterpillar">Caterpillar</a></h4>
  <div class="sec-content-container">
    <p>(Reuters) - Caterpillar Inc. (CAT.N) lowered its 2016 sales and earnings outlook and posted a lower first-quarter net profit on Friday as revenues declined in the company's construction, oil and gas, mining and rail business segments.</p>
  </div>
</div>
<div class="span3">
  <div class="image-container">
    <a href="wallstreet">
      <img src="/assets/sec_wall.jpg" />
    </a>
  </div>
  <h4><a href="wallstreet">Wall Street</a></h4>
  <div class="sec-content-container">
    <p>A rebound in the price of oil and natural gas helped drive sharp gains for energy and financial companies, nudging U.S. stocks mostly higher Friday.
    That offset a slide in the technology sector following disappointing earnings from Microsoft, Google parent Alphabet and other big names.</p>
  </div>
</div>

