<div class="navbar navbar-inverse visible-desktop hidden-tablet hidden-phone">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="header-first-row">
        <%#= render 'shared/header_first_row' %>
      </div>
      <div class="clearfix"></div>

        <div class="container nav-collapse">
          <ul class="nav navbar-nav navbar-right span12">
            <li class="active"><a href="#">NFL</a></li>
            <li class=""><a href="#">MLB</a></li>
            <li class=""><a href="#">NBA</a></li>
            <li class=""><a href="#">NHL</a></li>
            <li class=""><a href="#">NCAAF</a></li>
            <li class=""><a href="#">NCAAB</a></li>
            <li class=""><a href="#">GOLF</a></li>
            <li class=""><a href="#">NASCAR</a></li>
            <li class=""><a href="#">INDYCAR</a></li>
            <li class=""><a href="#">UFC</a></li>
            <li class=""><a href="#">FANTASY</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
