<h4>TOP STORIES</h4>
<table class="table table-hover">
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/news/politics/onpolitics/2016/04/19/what-time-do-polls-close-in-new-york/83191086/" target="_blank">
        N.Y. primary: What we'll know and when
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/sports/nfl/2016/04/19/johnny-manziel-agent-drew-rosenhaus/83251816/" target="_blank">
        Manziel: I hope to 'take care of the issues'
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/news/nation-now/2016/04/19/jared-fogle-child-pornography-sentence-appeal/83239518/" target="_blank">
        Fogle texts show him seeking sex with victims
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/tech/2016/04/19/intel-layoffs-12000-11/83242832/" target="_blank">
        Intel to lay off 11% of workforce
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/news/politics/onpolitics/2016/04/19/rep-peter-king-says-ll-take-cyanide-if-ted-cruz-wins-gop-nomination/83240336/" target="_blank">Rep. King taking 'cyanide' if Cruz wins nomination
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/tech/2016/04/19/amazon-offers-one-day-sale-echo/83224644/" target="_blank">
        Amazon offers one-day sale on Echo
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://usatodayhss.com/2016/14-year-old-nevada-youth-football-player-dies-after-collapsing-on-field" target="_blank">
        Youth football player dies after collapsing 
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/money/2016/04/19/coal-industry-energy-fallout/82972958/" target="_blank">
        How coal's demise threatens Appalachia
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/news/nation-now/2016/04/19/bizarre-mcdonalds-order-hoax/83241238/" target="_blank">
        McDonald's milkshake saga too good to be true
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://www.usatoday.com/story/life/people/2016/04/22/prince-last-30-days/83409562/" target="_blank">
        Inside the last month of Prince's life
      </a>
    </td>
  </tr>
</table>