<ul>
  <li><a href="#">NFL</a></li>
  <li><a href="#">MLB</a></li>
  <li><a href="#">NBA</a></li>
  <li><a href="#">NHL</a></li>
  <li><a href="#">NCAAF</a></li>
  <li><a href="#">NCAAB</a></li>
  <li><a href="#">NCAAW</a></li>
  <li><a href="#">NASCAR</a></li>
  <li><a href="#">Golf</a></li>
  <li><a href="#">Fantasy</a></li>
  <li><a href="#">Soccer</a></li>
  <li><a href="#">UFC</a></li>
</ul>