<div class="span2">
<h4 data-toggle="collapse" data-target="#news" class="dropdown">News <span class="caret"></span></h4>
  <div id="news" class="collapse">
    <%= render 'shared/footer/footer_news_links' %>
  </div>
</div>
<div class="span2">
<h4 data-toggle="collapse" data-target="#sports" class="dropdown">Sports <span class="caret"></span></h4>
  <div id="sports" class="collapse">
    <%= render 'shared/footer/footer_sports_links' %>
  </div>
</div>
<div class="span2">
<h4 data-toggle="collapse" data-target="#life" class="dropdown">Life <span class="caret"></span></h4>
  <div id="life" class="collapse">
    <%= render 'shared/footer/footer_life_links' %>
  </div>
</div>
<div class="span2">
  <h4 data-toggle="collapse" data-target="#money" class="dropdown">Money <span class="caret"></span></h4>
  <div id="money" class="collapse">
    <%= render 'shared/footer/footer_money_links' %>
  </div>
</div>
<div class="span2">
<h4 data-toggle="collapse" data-target="#tech" class="dropdown">Tech <span class="caret"></span></h4>
  <div id="tech" class="collapse">
    <%= render 'shared/footer/footer_tech_links' %>
  </div>
</div>
<div class="span2">
<h4 data-toggle="collapse" data-target="#travel" class="dropdown">Travel <span class="caret"></span></h4>
  <div id="travel" class="collapse">
    <%= render 'shared/footer/footer_travel_links' %>
  </div>
</div>
<div class="clearfix">
<div class="span12">
  <div class="span2">
    <h4 data-toggle="collapse" data-target="#information" class="dropdown">Information <span class="caret"></span></h4>
    <div id="information" class="collapse">
      <%= render 'shared/footer/footer_information_links' %>      
    </div>
  </div>
  <div class="span2">
    <h4 data-toggle="collapse" data-target="#stayConnecteds" class="dropdown">Stay Connected <span class="caret"></span></h4>
    <div id="stayConnecteds" class="collapse">
      <%= render 'shared/footer/footer_stay_connected_links' %>   
    </div>
  </div>
</div>
<div class="clearfix">
<div class="span12">
  <div id="footer-copyright" class="text-center">
    &copy; 2016 USA TODAY, a division of Gannett Satellite Information Network, LLC.
  </div>
</div>