<ul>
  <li><a href="#">People</a></li>
  <li><a href="#">Entertain This!</a></li>
  <li><a href="#">Movies</a></li>
  <li><a href="#">Music</a></li>
  <li><a href="#">TV</a></li>
  <li><a href="#">Books</a></li>
</ul>