<div class="content-description-page">
  <div class="content-description-image">
    <%= image_tag("/assets/sec_caterpillar.jpg") %>
  </div>
  <div class="content-description-content">
    <h4>Caterpillar cuts 2016 sales, earnings outlook, posts lower first-quarter profit</h4>
    <p>(Reuters) - Caterpillar Inc. (CAT.N) lowered its 2016 sales and earnings outlook and posted a lower first-quarter net profit on Friday as revenues declined in the company's construction, oil and gas, mining and rail business segments.</p>

    <p>The company said it expects 2016 sales in a range of $40 billion to $42 billion against a previously forecast $40 billion to $44 billion.</p>

    <p>Caterpillar now expects 2016 earnings per share at $3.00, or $3.70 per share excluding restructuring costs. The previous forecast was $3.50 per share, or $4.00 per share excluding restructuring costs.</p>

    <p>The world’s largest heavy machinery manufacturer reported a net income of $494 million, or 67 cents per share in the first quarter, down from a revised $1.70 billion, or $2.07 a share, a year ago. Analysts had expected earnings per share of 68 cents.</p>

    <p>Including restructuring costs, Caterpillar earned 46 cents per share, compared with a revised $2.03 a year earlier. Revenue fell to $9.46 billion from $12.7 billion a year ago.</p>

    <p>(Reporting by Meredith Davis; Editing by W Simon)</p>

    <p>The two teams never did anything to draw technical or flagrant fouls, but there was clearly increased physicality on both sides. We'll see if it leads to anything further before the series is up.</p>
  </div>
</div>