<div class="content-description-page">
  <div class="content-description-image">
    <%= image_tag("/assets/sec_dubbs.jpg") %>
  </div>
  <div class="content-description-content">
    <h4>Warriors vs. Rockets, 2016 NBA playoff results: 3 things from Houston's last-second 97-96 win</h4>
    <p>For the second-straight game, the Golden State Warriors played the Houston Rockets without Stephen Curry. Somehow, despite several miscues in the final minute, the Rockets barely snuck out a win on their home floor, with their 97-96 victory reducing the series to a 2-1 Warriors lead.</p>

    <p>With 12 seconds left up one, the Rockets inbounded the ball to no one, leading the Warriors go straight down the court for an easy Ian Clark layup. Harden answered right back with a stepback jumper to put Houston back up by a point, and Draymond Green lost the ball off his foot to all but end the game.</p>

    <p>Actually taking advantage of Curry's absence, it was Houston who took over early, leading 31-18 after the first quarter and still holding a seven-point advantage at halftime. The Rockets reached double digits in the third quarter, but back came Golden State. After a Donatas Motiejunas triple with 4:39 to play put Houston up 91-83, it looked like Houston might survive. But once again, the Warriors refused to die even missing their best player.</p>

    <p>Clark was a huge factor off the bench, nailing the go-ahead floater that put Golden State ahead for the first time since the game was 2-0. Clark finished with 11 points and five assists, hitting all four of his field goals in the fourth quarter. But after the final turnover, history will sadly no longer remember Game 3 as the Ian Clark Game.</p>

    <h3>1. Harden was just great enough for the Rockets</h3>

    <p>James Harden's first two games went poorly by his standards, shooting a combined 14-of-38 with 11 turnovers. On Thursday, he got back to his roots, attempting 11 free throws and coming damn close to a triple double with eight rebounds and nine assists. This dunk was a good summation of his evening, not to mention the game-winning shot.</p>

    <h3>2. Mid-range jumpers carried the gunslinging Warriors</h3>

    <p>It's fun seeing teams play atypical to everything we know and love about them, and Golden State's second half push to get back into the game led by Shaun Livingston's mid-range game was just a delight. Livingston has one of the strangest skill sets in the NBA, but he's an absolutely perfect fit for the Warriors, playing the yang to Stephen Curry's shooting yin. Elevated into the starting lineup in Curry's absence, Livingston pushed Golden State by relying on what he knows best: funky jumpers from about 15 feet out, both pulling up and out of the post.</p>

    <p>We're so used to seeing everything the Warriors do come from behind the three-point line thanks to Curry. Watching them gun from shorter distances was strange in a great way.</p>

    <h3>3. This series is getting heated</h3>

    <p>Almost every playoff series does by Game 3 or 4. When two teams play each other with high stakes for several days in a row, it's hard not to. On Thursday, it might have started with this blatantly dirty play from Andrew Bogut, which only caused Howard to retaliate with bumps and fouls as often as possible. Bogut didn't back down, either.</p>


The two teams never did anything to draw technical or flagrant fouls, but there was clearly increased physicality on both sides. We'll see if it leads to anything further before the series is up.
  </div>
</div>