<% ab_test("contact_us", "long", "short") do |summary_test| %>
  <div class="row">
    <div class="span1"></div>
    <h3 class="span8">PLEASE USE THE FORM BELOW TO SEND US YOUR INQUIRY.</h3>
    <div class="span2"></div>

  </div>
  <form class="form-horizontal" role="form" action="/contact" method="post">
    <div class="control-group">
      <label class="control-label" for="required fields"></label>
      <div class="controls">
       <small>Note: All fields are required.</small>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="department">Department:</label>
      <div class="controls">
        <select name="department" id="ndepartment" class="form-control span6 dropdown-department" required>
          <option value="" selected="" style="">Please select a department</option>
          <option value="Ad Operations" style="">Ad Operations</option>
          <option value="For Corrections and Clarifications" style="">For Corrections and Clarifications</option>
          <option value="Newsroom" style="">Newsroom</option>
          <option value="Opinion Submissions" style="">Opinion Submissions</option>
          <option value="Reader Feedback/Letters" style="">Reader Feedback/Letters</option>
          <option value="Press Inquires for Gannett" style="">Press Inquires for Gannett</option>
          <option value="Press Inquiries for USA TODAY" style="">Press Inquiries for USA TODAY</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">Name:</label>
      <div class="controls">
        <input type="text" class="form-control span6" id="name" placeholder="Enter your name" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="title">Title:</label>
      <div class="controls">
        <input type="text" class="form-control span6" id="title" placeholder="Enter your title" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email:</label>
      <div class="controls">
        <input type="email" class="form-control span6" id="email" placeholder="Enter your email" required>
      </div>
    </div>
    <% if summary_test == "long" %>
    <div class="control-group">
      <label class="control-label" for="company">Company:</label>
      <div class="controls">
        <input type="text" class="form-control span6" id="company" placeholder="Enter your company" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="phone">Phone:</label>
      <div class="controls">
        <input type="tel" class="form-control span6" id="tel" placeholder="Enter your phone number" required>
      </div>
    </div>
    <% end %>
    <div class="control-group">
      <label class="control-label" for="subject">Subject:</label>
      <div class="controls">
        <input type="text" class="form-control span6" id="tel" placeholder="Enter the subject" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="subject">Message:</label>
      <div class="controls">
        <textarea rows="7" class="form-control span6" id="tel" placeholder="Enter the Message" required></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="submit"></label>
      <div class="controls">
        <button type="submit" class="contact-submit btn btn-large btn-primary span5">Submit</button>
      </div>
    </div>
  </form>
<% end %>