<div class="content-description-page">
  <div class="content-description-image">
    <%= image_tag("/assets/sec_wall.jpg") %>
  </div>
  <div class="content-description-content">
    <h4>U.S. stocks close mostly higher, despite hit to tech stocks</h4>
    <p>A rebound in the price of oil and natural gas helped drive sharp gains for energy and financial companies, nudging U.S. stocks mostly higher Friday.</p>
    <p>That offset a slide in the technology sector following disappointing earnings from Microsoft, Google parent Alphabet and other big names.</p>
    <p>The Dow Jones industrial average eked out a tiny gain, while the Standard & Poor's 500 index closed essentially flat. Both ended the week higher. But the tech-heavy Nasdaq composite fell short on both counts.</p>
    <p>“The Nasdaq took a hit today,” said Erik Davidson, chief investment officer at Wells Fargo Private Bank.</p>
    <p>The Dow rose 21.23 points, or 0.1%, to 18,003.75. The S&P 500 index added 0.10 points to 2,091. The Nasdaq composite index lost 39.66 points, or 0.8%, to 4,906.23.</p>

    <p>Trading was listless for much of the day, with the Dow and S&P 500 wavering between small gains and losses as the Nasdaq stayed in the red. As was the case much of the week, investors were focused mostly on company earnings and energy prices.</p>

    <p>The latter helped lift several oil and gas companies.</p>

    <p>Southwestern Energy notched the biggest gain in the S&P 500. The stock vaulted $1.60, or 15%, to $12.27. Range Resources jumped $2.58, or about 7%, to $39.75, while Chesapeake Energy climbed 36 cents, or 5.8%, to $6.55.</p>

    <p>Benchmark U.S. crude rose 55 cents, or 1.3%, to close at $43.73 a barrel in New York. Brent crude, used to price international oils, gained 58 cents, or 1.3%, to close at $45.11 a barrel in London. Natural gas gained 7 cents, or 3.5%, to close at $2.14 per 1,000 cubic feet.</p>

    <p>Investors cheered earnings from Norfolk Southern, which jumped 10.5% after the railroad operator slashed costs during its latest quarter. The stock rose $8.70 to $91.33.</p>

    <p>Quarterly results from several big-name companies failed to impress traders, however.</p>

    <p>American Airlines Group fell 4.5% after the company said weaker fares and labor costs cut into its revenue in the first quarter. The stock shed $1.80 to $38.21.</p>

    <p>Investors sold shares in Starbucks after the coffee chain reported disappointing sales growth for the first three months of the year. The stock lost $2.96, or about 5%, to $57.68.</p>

    <p>Microsoft fell 7.2%, making it the biggest decliner in the S&P 500. The stock lost $4 to $51.78, while Alphabet slid $42.23, or 5.4%, to $737.77. Overall, the technology sector was off about 2%.</p>

    <p>Despite the declines, investors seemed to conclude that the issues driving lackluster results at Alphabet and Microsoft were largely confined to those companies, Davidson said.</p>

    <p>“The broader market is doing better,” he said. “Energy has to be part of that.”</p>

    <p>Bond prices fell. The yield on the 10-year Treasury note rose to 1.89% from 1.86% late Thursday.</p>

    <p>In currency markets, the dollar gained to 111.67 yen from Thursday's 109.53 yen. The euro fell to $1.1245 from $1.1295.</p>
  </div>
</div>