/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require_self
 *= require_tree .
 */


body {
  padding-top: 100px;
  #main-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

body .navbar .header-first-row {
  padding-top: 4px;
}

body #footer {
  background: #f6f6f6;
}

.search-section {
  padding-top: 8px;
}

body #footer ul, body #footer ul li {
  list-style-type: none;
  margin-left: 0px;
}

button.contact-submit {
  margin-left: 0px !important;
}

@media (min-width: 767px) {
  body {
    #main-content {
      .first-row-content {
        height: 450px;
        overflow:hidden;
        .top-stories {
          padding: 4px 12px;
          border: 1px solid #dcdcdc;
          a {
            color: #282828;
          }
        }
      }
      .second-row-content {
        padding-top: 24px;
        .image-container {
          height: 170px;
          overflow: hidden;
        }
        h4 {
          a {
            color: #333333;
          }
        }
        .sec-content-container {
          height: 125px;
          overflow: hidden;
        }
      }
      .content-description-page {
        width: 767px;
        margin-left: auto;
        margin-right: auto;
      }
      .content-description-content {
        padding-top: 24px;
      }
    }
    #footer {
      padding-top: 8px;
      ul {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    #footer {
      h4 {
        border-bottom: 1px solid #000;
        padding: 8px;
      }
      ul {
        li {
          padding: 4px 8px;
          a {
            color: #000;
          }
        }
      }
    }
  }
  #appendedInputButton {
    width: 90%;
  }
}